.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: lightgrey;
    padding-top: 60px;
    z-index: -1;
    box-shadow: inset -1px 0px 7px -3px black;
}