* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
small,
label,
button {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    /* list-style-type: none; */
}